{#
/**
 * @file editable_entity.html.twig
 * Default theme implementation to present Editable_entity data.
 *
 * This template is used when viewing Editable_entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_editable_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('editable_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
