{#
/**
 * @file testing.html.twig
 * Default theme implementation to present Testing data.
 *
 * This template is used when viewing Testing pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_testing()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('testing') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
